html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Start Override typeahead */
.twitter-typeahead {
    width: 100%;
}

.tt-suggestion {
    font-size: 16px;
}

    .tt-suggestion:not(:last-child) {
        border-bottom: 1px dashed #dcdcdc;
    }

/*.tt-suggestion:hover,
.tt-suggestion:focus {
    background-color: #dcdcdc;
}*/


/* End Override typeahead */
/*Start Custom Styles*/
.dt-spinner + div {
    display: none !important;
}
.h-70px {
    height: 70px !important;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.w-fit-content {
    width: fit-content;
}


.source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


.page-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/images/bg9-dark.jpg);
}

.mh-450px {
    min-height: 450px;
}

.launcher .sidebar {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 425px;
    top: 50px;
    right: 50px;
    bottom: 50px;
    background-color: rgba(19,0,97,.3);
    border-radius: 1.75rem;
}

.transform-x {
    transform: scaleX(-1);
}
.page-bg{
    background-size: cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(/assets/images/bg9-dark.jpg);
}
.mh-450px {
    min-height: 450px;
}

@media only screen and (min-width){
    .launcher .sidebar {
        position: fixed;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 425px;
        top: 50px;
        right: 50px;
        bottom: 50px;
        background-color: rgba(19,0,97,.3);
        border-radius: 1.75rem;
    }
}

.transform-x {
    transform: scaleX(-1);
}

/*End Custom Styles*/
