@model CategoryViewModel

<form method="post" asp-controller="Categories">
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="mb-5">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" placeholder="" asp-for="Name" />
            <label asp-for="Name"></label>
        </div>

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <partial name="_ModalFooter"/>
</form>


